
.col-md-12{
	margin-top: 50px;
	margin-bottom: 50px;
    text-align: center;

}
.form-group{
	    
	 margin: 10px 10px 15px 15px;
}
.form-group form-check{
	 margin: 10px 10px 15px 15px;
}
.btn{
	margin: 10px 10px 15px 15px;

}